In [1]:
print("Hello World, it's Mary")

Hello World, it's Mary

In [1]:
x = 2

In [2]:
x == 2

True

In [3]:
y = 'hello world'

In [4]:
print(y)

hello world

In [13]:
a = 1
b - 2.6
c = [1,2,3,4,5,6]
d = {'Amanuel' : 'M'}
f = {1:{'key': 'value'}, 2:{'key2' : 'value2'}}
g = True
h = False
i = 'integer'

NameError: name 'b' is not defined

In [17]:
type(d)

NameError: name 'd' is not defined

In [18]:
s = 'hello world'

In [21]:
len(s)

11

In [24]:
s2 = s.replace ('world', 'test')
print(s2)

hello test

In [28]:
s[0]

'h'

In [29]:
s[0:3]

'hel'

In [31]:
s[6:]

'world'

In [33]:
y = "rice"
x = "krispies"

print (y,x)

rice chrispies

In [51]:
t = "i love cheese, it's really good!"

t2 = t.replace ("o", "vowel") or
t2 = t.replace ("u", "vowel") or
t2 = t.replace ("a", "vowel") or
t2 = t.replace ("e", "vowel") or
t2 = t.replace ("i", "vowel") or

SyntaxError: invalid syntax (<ipython-input-51-cffb12dd3784>, line 3)

In [50]:
print(t2)

vowel love cheese, vowelt's really good!

In [46]:
print (x,y,t)

chrispies rice i love cheese, it's really good!

In [48]:
import re

s = 'this is a string of more than'

s2 = []
for c in s:
    if c == 'a' or c == 'e' or c == 'i' or c == 'o' or c == 'u':
        c = 'vowel'
    s2.append(c)

print(''.join(s2) + 'hi')

thvowels vowels vowel strvowelng vowelf mvowelrvowel thvowelnhi

In [52]:
l = [1,2,3,4]
print(type(1))

<class 'int'>

In [58]:
a = l
print(a)

[1, 2, 3, 4]

In [74]:
names = ["young man", "old man", "wise man", "cool man", "woman"]
print(names)

['young man', 'old man', 'wise man', 'cool man', 'woman']

In [75]:
print(names[0:4])

['young man', 'old man', 'wise man', 'cool man']

In [76]:
for name in names:
    if name == "cool man":
        print(name + ""+ " is telling the truth")
    else:
        print(name + "" + ' is lying')

young man is lying
old man is lying
wise man is lying
cool man is telling the truth
woman is lying

In [6]:
sentence = "A MAN KNOCKED ON MY DOOR AND ASKED FOR A SMALL DONATION TOWARD THE LOCAL SWIMMING POOL, SO I GAVE HIM A GLASS OF WATER"

In [8]:
iterations = 0
vowels = 0

while True:
    iterations +=1
    for char in sentence:
        if char in 'AEIOU':
            vowels +=1
    if vowels >= 1000000:
        break
        
print('iterations: {}'.format(iterations))
print('vowels: {}'.format(vowels))

iterations: 27778
vowels: 1000008

In [9]:
def (function_name(arguements):
     code here
     return value

SyntaxError: invalid syntax (<ipython-input-9-8f098f4a1904>, line 1)

In [15]:
def arithmetric(num1, num2):
    print(num1 + num2)
    print(num1 - num2)
    print(num1 * num2)

In [18]:
arithmetic[3, 4]

NameError: name 'arithmetic' is not defined

In [21]:
# write a function that takes the lenght of a side of a square and returns it's area

def area_square(length):
    return length**2
print(area_square (4))

16

In [25]:
# write a function that takes the lenght of a side of a square and returns it's area

def area_square(length):
    area = length**2
    return length**2
    print(area)
    
area_square(4)

16

In [24]:
def area_triangle(heigh, width)
    return heigh**2

SyntaxError: invalid syntax (<ipython-input-24-c226c0322ebb>, line 1)

In [43]:
#clean up the data by coverting the values to floats if they can be converted
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']
def clean_up_data(data):
    cleaned = []
    for item in data:
        try:
            cleaned.append(float(item))
        except:
            pass
    return cleaned

print(clean_up_data(corrupted))

[23.1, 0.12, -11.1, 1000.0]

In [59]:
with open('coffee-preferences-Copy1.csv', 'r') as f:
    lines = f.readlines()

IndentationError: expected an indented block (<ipython-input-59-8b5e845071d7>, line 4)

In [58]:
for line in lines:
    print(line)

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,

In [60]:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,']

In [70]:
cleaned_lines = []
for line in lines:
    cleaned_lines.append(line.replace('\n', ''))
    
cleaned_lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,']

In [75]:
header = cleaned_lined[0]
data = cleaned_lines[1:]

NameError: name 'cleaned_lined' is not defined